.fst-row {
  overflow: auto;
}

.fst-person {
  width: 180px;
  padding: 25px;
  float: left;
}

.fst-name {
  color: #333;
  text-align: center;
}

.fst-role {
  text-transform: uppercase;
  font-size: 80%;
  text-align: center;
}